<!DOCTYPE html>
<html>
<head> 
  <title>I am error</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
</head>
<body>
  <h1><%= error %></h1>
</body>
</html>