<!DOCTYPE html>
<html>
<head>
  <title>Search Google Books</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/results.css" />

</head>
<body>
  <header id="head1">
    Best Books!
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn"><img id=hamburger src="/styles/menu.png">
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <li><a href="#" id=link1>Link 1</a></li>
      <li><a href="#" id=link1>Link 2</a></li>
      <li><a href="#" id=link1>Link 3</a></li>

      <!-- <a href="#" id=link1>Link 1</a>
      <a href="#" id=link2>Link 2</a>
      <a href="#" id=link3>Link 3</a> -->
    </div>
  </div> 
</div>
    <!-- <img src="/styles/menu.png"> -->
  </header>
  <header id="head2">
    Search by Title or Author
  </header>
  <form action="/searches" method="POST">
    <label id="input">
      <input id="textbox" type="text" name="search_field" placeholder="Enter title or author">
    </label>
    <label id="intitle">
      <input type="radio" name="searchby" value="intitle" required>
      Search titles
    </label>
    <label id="inauthor">
      <input type="radio" name="searchby" value="inauthor">
      Search authors
    </label>
    <button type="submit">Search</button>
  </form>
</body>
</html>
