<!DOCTYPE html>
<html>
<head>
  <title>Search Google Books</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
</head>
<body>
  <form action="/searches" method="POST">
    <label>Enter book search: 
      <input type="text" name="search_field">
    </label>
    <label>Search titles
      <input type="radio" name="searchby" value="intitle" required>
    </label>
    <label>Search authors
      <input type="radio" name="searchby" value="inauthor">
    </label>
    <button type="submit">Search</button>
  </form>
</body>
</html>
