@import url('https://fonts.googleapis.com/css?family=Dosis:700|Nunito');
@import url( '<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Prata');
body {
  background-color: darkgray;
  display: grid;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

#head1 {
  background-color: rgb(100, 100, 100);
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 2.25em;
}

#head2 {
  background-color: rgb(235, 210, 72);
  color: black;
  text-align: center;
}

form {
  background-color: darkgray;
}

.hide {
  display: none;
}